OpenUtau/FodyWeavers.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Made And Checked By DELTA SYNTH & Gemini AI -->
<!-- ไฟล์นี้ใช้สำหรับกำหนดโครงสร้างของ FodyWeavers.xml ในโปรเจกต์ OpenUtau -->

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Weavers">
    <xs:complexType>
      <xs:all>
        <!-- การตั้งค่าสำหรับ ReactiveUI.Fody -->
        <xs:element name="ReactiveUI" minOccurs="0" maxOccurs="1" type="xs:anyType" />
      </xs:all>
      
      <!-- ตรวจสอบความถูกต้องของ Assembly (PEVerify) หลังจากการทอโค้ดเสร็จสิ้น -->
      <xs:attribute name="VerifyAssembly" type="xs:boolean">
        <xs:annotation>
          <xs:documentation>'true' เพื่อรันการตรวจสอบ assembly หลังจากที่ weavers ทั้งหมดทำงานเสร็จแล้ว</xs:documentation>
        </xs:annotation>
      </xs:attribute>
      
      <!-- รายการรหัสข้อผิดพลาดที่ต้องการข้ามในการตรวจสอบ -->
      <xs:attribute name="VerifyIgnoreCodes" type="xs:string">
        <xs:annotation>
          <xs:documentation>รายการรหัสข้อผิดพลาด (คั่นด้วยจุลภาค) ที่สามารถข้ามได้ในการตรวจสอบ assembly</xs:documentation>
        </xs:annotation>
      </xs:attribute>
      
      <!-- ตั้งค่าการสร้างไฟล์ XSD อัตโนมัติ -->
      <xs:attribute name="GenerateXsd" type="xs:boolean">
        <xs:annotation>
          <xs:documentation>ตั้งเป็น 'false' หากไม่ต้องการให้ระบบสร้างไฟล์ XML Schema โดยอัตโนมัติ</xs:documentation>
        </xs:annotation>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
</xs:schema>
